<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <title>KeyboardFingerPrint</title>
</head>
<body>
  <h2>Подсчет показателей клавиатурного подчерка</h2>

  <p>
    <%= @is_trained ? 'Ваша модель обучена' : 'Ваша модель обучается' %>
  </p>
  <%# <form> %>
    <input type="text" id="symbol_interval">
    <input type="checkbox" id="is_known">

    <button onClick="sendPass();">Send</button>
    <p id="response_message"></p>
  <%# </form> %>

  <p>Текущие показатели: <span id="symbol_interval_output"></span></p>

  <script>
    let last_timestamp;
    let last_symbol;
    let intervals = [];

    let si_input = document.getElementById("symbol_interval");
    let si_output = document.getElementById("symbol_interval_output");
    let is_known_checkbox = document.getElementById("is_known");

    function countSymbolInterval(event) {
      // Counts interval between two symbols
      if (event.target.value == '') {
        intervals = [];
        si_output.textContent = intervals;
        
        return 0;
      } 
      
      let timestamp = new Date().getTime();
      let symbol = event.data;
      let interval = 0;

      if (last_timestamp) {
        interval = timestamp - last_timestamp;
      }
      else {
        interval = 0;
      }

      intervals.push([symbol, interval]);

      last_timestamp = timestamp;
      last_symbol = symbol;

      si_output.textContent = intervals;
      // console.log(`Current intervals ${event.data}`)
      // console.log(`Current intervals ${intervals}`)
      return interval;
    }

    function clearPass() {
      si_input.value = '';
      si_output.textContent = '';
      intervals = [];
      last_timestamp = null;
    }

    function sendPass() {
      let sendData = {
        intervals: intervals,
        password: si_input.value,
        is_known: is_known_checkbox.checked
      } 

      clearPass();

      $.ajax({
        url: "/keyboard/fingerprint",
        type: "POST",
        dataType: "json",
        data: sendData,
        success: function(data) {
          document.getElementById("response_message").textContent = data.message
        }
      })
    }

    si_input.addEventListener('input', countSymbolInterval);
  </script>
</body>
</html>